@charset "utf-8";

body {
    font-family: 'Roboto', sans-serif;
    background: #f1f4f6;
    overflow-x: hidden
}

a:hover {
    text-decoration: none !important
}

img {
    max-width: 100%
}

a {
    transition: all ease .3s
}

ul {
    list-style: none;
    padding-left: 0
}

.wrapper {
    float: left;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

/* Header */
header.header {
    float: left;
    width: 100%;
    background: #ede8f5;
    padding: 10px;
    box-shadow: 0px 2px 10px -3px #00000066;
}

header.header .search {
    float: left;
    width: 100%;
    position: relative;
}

header.header .search input[type="text"] {
    float: left;
    width: 100%;
    border-radius: 50px;
    border: 1px solid #ddd;
    padding:10px 42px 10px 10px;
}

header.header .search button.srch_btn {
    background: #084b7c;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: #fff;
    position: absolute;
    right: 4px;
    top: 4px;
    border: 0;
}

header.header .social {
    float: right;
    margin-bottom: 0;
    margin-top: 5px;
}
header.header .social li {
    float: left;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-right: 10px;
}
header.header .social li a {
    font-size: 17px;
    line-height: 30px;
    color: #151515;
    transition: all ease 0.3s;
}

.logo {
    width: 190px;
    display: inline-block;
}

/* Slider & category */
.slider-container {
    float: left;
    width: 100%;
    margin: 25px 0;
}

.custom_slider {
    float: left;
    width: 100%;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left;
    min-height: 1px
}

[dir='rtl'] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none;
}

.slider.custom_slider {
    position: relative !important;
    top: auto;
    float: left;
    width: 100%;
    margin-top: 15px;
    border-radius: 20px;
    overflow: hidden;
    border: 4px solid #de5c61;
}

.slider.custom_slider .slide__content {
    position: absolute;
    top: 0;
    left: auto;
    padding: 15px;
    margin-left: 150px;
    display: flex;
    align-items: center;
    height: 100%;
}

.slider.custom_slider .slide__content h2 {
    font-size: 58px;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
}

.slider.custom_slider .slide__content h2 span {
    background: #05299e;
    font-size: 49px;
    font-weight: bold;
    border-radius: 30px;
    padding: 5px 15px;
}

.slider.custom_slider .slide__content p {
    color: #fff;
    float: left;
    width: 100%;
    font-size: 20px;
    margin: 10px 0;
}

.slider.custom_slider .slide__content a {
    float: left;
    font-size: 21px;
    border-radius: 30px;
    padding: 10px 15px;
    color: #000;
    margin-right: 10px;
    background: rgb(255, 127, 80);
    background: linear-gradient(90deg, rgba(255, 127, 80, 1) 21%, rgba(255, 215, 0, 1) 65%, rgba(255, 248, 225, 1) 100%);
    text-transform: uppercase;
    font-weight: 600;
}

.slider.custom_slider .slide__content a i {
    margin-left: 5px;
}
.slider.custom_slider button.slide-arrow {
    position: absolute;
    bottom: 10px;
    z-index: 999;
    background: #0365b1;
    /* background: linear-gradient(90deg, rgba(255, 127, 80, 1) 21%, rgba(255, 215, 0, 1) 65%, rgba(255, 248, 225, 1) 100%); */
    border: 1px solid #fff;
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
    top: 46%;
}

.slider.custom_slider button.slide-arrow.prev-arrow {
    left: 5px;
}

.slider.custom_slider button.slide-arrow.next-arrow {
    right: 5px;
}

.category-container {
    float: left;
    width: 100%;
    position: relative;
}

.category-container h1 {
    float: left;
    width: 100%;
    background: #2b2b2b;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    color: #fff;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    margin-top: 15px;
    padding-bottom: 45px;
    font-family: "Exo 2", sans-serif;
}

.category-container 
 .bottom {
    float: left;
    width: 100%;
    position: relative;
    z-index: 5;
    border-radius: 15px;
    margin-top: -38px;
    padding: 15px 5px 15px 15px;
    background: linear-gradient(to right, #084b7c, #0365b1);
}

.category-container .bottom ul {
    float: left;
    width: 100%;
    margin-bottom: 0;
    height: 283px;
    overflow-y: auto;
}
.category-container .bottom ul::-webkit-scrollbar {
    width: 7px;
  }
  /* Track */
.category-container .bottom ul::-webkit-scrollbar-track {
    background: none; 

  }
  /* Handle */
.category-container .bottom ul::-webkit-scrollbar-thumb {
    background: #f1f1f1; 
    border-radius:10px;
  }
  /* Handle on hover */
.category-container .bottom ul::-webkit-scrollbar-thumb:hover {
    background: #f1f1f1; 
  
  }

.category-container .bottom ul li {
    float: left;
    width: 100%;
    margin-bottom: 7px;
    padding-bottom: 5px;
}

.category-container .bottom ul li a {
    float: left;
    width: 96%;
    color: #fff;
    font-size: 17px;
    border-bottom: 1px solid #fff;
}
.category-container .bottom ul li:last-child a {
    border-bottom: 0;
}
.category-container .bottom ul li:last-child {
    margin-bottom: 0;
}

/* Info */
.info {
    float: left;
    width: 100%;
}

.heading {
    float: left;
    width: 100%;
    font-size: 40px;
    color: #084b7c;
    font-family: "Exo 2", sans-serif;
}

.heading span {
    color: #084b7c;
}

.info-container {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.box {
    width: 19%;
    display: inline-block;
    border-radius: 15px;
    background: linear-gradient(to right, #084b7c, #0365b1);
    margin-right: 5px;
    padding: 10px;
    box-shadow: 0px 4px 12px 2px #0000006b;
}

.box p {
    color: #fff;
    font-size: 30px;
    margin-top: 0;
}

.box span {
    float: left;
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
}

/* section two */
.path {
    float: left;
    width: 100%;
    background: #ede8f5;
    margin-top: 35px;
    padding: 15px;
}
.path-container {
    float: left;
    width: 100%;
}

.path-box {
    float: left;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.3s;
}

.path-box .image {
    float: left;
    width: 100%;
    z-index: 1;
    position: relative;
}

.path-box .details {
    position: absolute;
    bottom: -82%;
    background: #de5c61;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 5;
    transition: all ease 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    flex-direction: column;
}

.path-box:hover .details {
    bottom: 0;
    background: #de5c61e8;
    justify-content: center;
}

.path-box .details p {
    float: left;
    width: 100%;
    color: #ffffff;
    margin-top: 9px;
    font-size: 15px;
    margin-bottom: 25px;
}

.path-box:hover .details p {
    margin-bottom: 10px;
}

.path-box:hover .details span {
    float: left;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
}

.path-box:hover .details p {
    font-size: 23px;
}

.path-box .details .read-more {
    display: inline-block;
    background: #ede8f5;
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 30px;
    font-size: 15px;
}
.more {
    background: #0365b1;
    display: inline-block;
    border-radius: 30px;
    padding: 10px 15px;
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
}

.more:hover {
    color: #fff;
}

/* section three */

.path-bottom {
    float: left;
    width: 100%;
    margin: 30px 0;
}

.feature-container {
    float: left;
    width: 100%;
    margin: 30px 0;
}

.feature-box {
    float: left;
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 12px 2px #0000006b;
    border-radius: 20px;
    overflow: hidden;
}

.feature-box .icon {
    display: inline-block;
    margin: 15px 0;
    width: 60px;
    height: 60px;
}

.feature-box .icon img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.bg-1 {
    background: #084b7c;
}
.bg-2 {
    background: #0365b1;
}
.bg-3 {
    background: #de5c61;
}
.bg-4 {
    background: #073557;
}

.feature-box  p {
    width: 100%;
    display: inline-block;
    font-size: 22px;
    color: #ffffff;
    font-family: "Exo 2", sans-serif;
}

.feature-box span {
    display: inline-flex;
    color: #232323;
    background: #ffffff;
    padding: 10px;
    height: 123px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}
.feature-box.bg-1:hover span {
    background: #084b7c;
    color:#fff;
}
.feature-box.bg-2:hover span {
    background: #0365b1;
    color:#fff;
}
.feature-box.bg-3:hover span {
    background: #de5c61;
    color:#fff;
}
.feature-box.bg-4:hover span {
    background: #073557;
    color:#fff;
}
.feature-box, .feature-box span{
    transition:all ease 0.3s;
}
.path-container .path {
    margin-top: 15px;
}
/* section four */
.blog-list {
    float: left;
    width: 100%;
}

.search-blog {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

.search-blog form {
    display: inline-block;
    background: #ffffff;
    box-shadow: 0px 4px 12px 2px #0000006b;
    padding: 10px;
    border-radius: 6px;
    width: 80%;
    position: relative;
}

.search-blog form input[type=text] {
    display: inline-block;
    width: 100%;
    border: 4px solid #0365b1;
    border-radius: 6px;
    padding: 10px 90px 10px 10px;
}

.search-blog form button {
    background: #0365b1;
    border: 0;
    position: absolute;
    color: #ffffff;
    font-size: 18px;
    right: 12px;
    border-radius: 6px;
    padding: 10px;
    min-width: 80px;
}
.blog-list-inner {
    float: left;
    width: 100%;
}

.blog-box {
    float: left;
    width: 100%;
    border-radius: 10px;
    position: relative;
    text-align: center;
    margin-bottom: 25px;
}

.blog-list-image {
    float: left;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 255px;
}

.blog-list-bottom {
    display: inline-block;
    width: 90%;
    background: #ffffff;
    position: relative;
    z-index: 5;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 12px 2px #0000006b;
    margin-top: -75px;
}

.blog-list-bottom p {
    font-size: 16px;
    background: linear-gradient(to right, #084b7c, #0365b1);
    color: #fff;
    padding: 13px 39px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 74px;
}

.blog-list-bottom span {
    display: inline-flex;
    width: 100%;
    font-size: 15px;
    color: #222222;
    height: 74px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.blog-list-image img {
    height: 100%;
}

.paginationdiv {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom:20px;
}

.paginmod {
    display: inline-block;
}

.paginmod a {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 17px;
    padding: 7px 10px;
    line-height: normal;
    color: #000;
}

.paginmod span {
    display: inline-block;
}

.paginmod span.current {
    background: #084b7c;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 17px;
    padding: 7px 10px;
    line-height: normal;
    color: #fff;
}

.paginmod span.prev {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 17px;
    padding: 7px 10px;
    line-height: normal;
    color: #000;
}

.paginmod a:hover {
    background: #025e99;
    color:#fff;
}

/* Testimonial */
.testimonial-bg {
    float: left;
    width: 100%;
    background: url(https://assets.studilmu.com/image/641986ff72848.jpg);
    background-size: cover;
    text-align: center;
    padding: 25px 0;
    margin-top: 30px;
    min-height:350px;
}

.testimonial-bg .heading {
    color: #fff;
}

.testimonial-inner {
    background: #ffffff;
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    margin-top: 15px;
    border: 2px solid #fff;
}

.testimonial-inner p {
    display: inline-block;
    width: 90%;
    font-size: 18px;
    color: #084b7c;
    margin-top: 14px;
}

.testimonial-inner 
 span.name {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    color: #373737;
    font-weight: bold;
    margin-bottom: 10px;
}

.testimonial-inner span.parson {
    display: inline-block;
    width: 100%;
    background: #0365b1;
    padding: 10px;
    font-size: 15px;
    color: #fff;
}

/* ====Footer Section===== */


footer.footer {
    float: left;
    width: 100%;
    background: rgb(75, 0, 130);
    padding: 25px 0;
    background: linear-gradient(to bottom, #084b7c, #0365b1);
}

footer.footer .footer_box .logo {
    float: left;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

footer.footer .footer_box p {
    float: left;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    padding: 0 15px 0 0;
}

footer.footer .footer_box ul.social {
    float: left;
    width: 100%;
    margin-top: 15px;
}

footer.footer .footer_box ul.social li {
    background: none;
    width: auto;
    height: auto;
    float: left;
    margin-right: 10px;
}

footer.footer .footer_box ul.social li a {
    height: 36px;
    width: 36px;
    text-align: center;
    background: #fff;
    color: #0e1133;
    border-radius: 6px;
    line-height: 36px;
    margin-right: 0;
    display: inline-block;
    box-shadow: 4px 4px 15px -7px #0000009c
}

footer.footer .footer_box ul.social li.tiktok a img {
    width: 23px;
}

footer.footer .footer_box h4 {
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 25px;
    font-family: "Exo 2", sans-serif;
}

footer.footer .footer_box ul.footer_list {
    float: left;
    width: 100%;
}

footer.footer .footer_box ul.footer_list li {
    float: left;
    width: 100%;
    margin-bottom: 12px;
}

footer.footer .footer_box ul.footer_list li a {
    float: left;
    color: #fff;
    font-size: 17px;
}

footer.footer .footer_bottom {
    float: left;
    width: 100%;
    border-top: 1px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer.footer .footer_bottom p.fot_bot_menu {
    float: left;
    margin-bottom: 0;
}

footer.footer .footer_bottom p.fot_bot_menu a {
    color: #ffffff;
    font-size: 16px;
    float: left;
    margin-right: 10px;
}

footer.footer .footer_bottom p.copy {
    float: right;
    margin-bottom: 0;
    color: #ffffff;
    font-size: 16px;
}

footer.footer .footer_box ul.footer_list li a i {
    font-size: 14px;
    margin-right: 10px;
}

footer.footer .footer_box ul.footer_list li a:hover {
    color: #ffe456;
}

footer.footer .footer_bottom p a:hover {
    color: #ffe456;
}

#back-to-top {
    position: fixed;
    bottom: 100px;
    right: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    transition: opacity .2s ease-out;
    opacity: 0;
    box-shadow: 0 0 16px -2px #000000a8;
    background: rgb(232 44 41);
    /* background: linear-gradient(90deg, rgba(255, 127, 80, 1) 21%, rgba(255, 215, 0, 1) 65%, rgba(255, 248, 225, 1) 100%); */
}

#back-to-top:hover {
    background: linear-gradient(0deg, rgba(255, 127, 80, 1) 21%, rgba(255, 215, 0, 1) 65%, rgba(255, 248, 225, 1) 100%);
}

#back-to-top.show {
    opacity: 1
}

/* Blog Details */
section.blog-details {
    float: left;
    width: 100%;
    margin: 30px 0;
}

.blog-details-image {
    float: left;
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
    border: 4px solid #de5c61;
}

.blog-details-image img {
    height: 100%;
    object-fit: cover;
    float: left;
    width: 100%;
}

.blog-details-bottom {
    float: left;
    width: 100%;
    margin: 25px 0;
}
.category-tag {
    float: left;
    background: #0365b1;
    display: inline-block;
    border-radius: 30px;
    margin-right: 5px;
    padding: 10px;
    color: #fff;
    font-size: 18px;
}

.blog-heading {
    color: #084b7c;
    font-size: 35px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.editor {
    float: left;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    font-size: 18px;
}

.blog-details-text {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

.blog-details-text p {
    color: #434343;
    font-size: 19px;
    line-height: 30px;
    text-align: justify;
}

.details-list {
    float: left;
    width: 100%;
    padding-left: 25px;
}

.blog-details-text .sm-heading {
    color: #2593da;
}

.featured-career {
    float: left;
    width: 100%;
    position: relative;
}

.featured-career h1 {
    float: left;
    width: 100%;
    background: #2b2b2b;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    color: #fff;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    margin-top: 15px;
    padding-bottom: 45px;
}

.feature-advice-bottom {
    float: left;
    width: 100%;
    position: relative;
    z-index: 5;
    border-radius: 15px;
    margin-top: -38px;
    padding: 15px 5px 15px 15px;
    background: linear-gradient(to right, #084b7c, #0365b1);
}

.feature-advice-bottom ul {
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.feature-advice-bottom ul li {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.feature-advice-bottom ul li .left {
    float: left;
    width: 80px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #ffffff;
}

.feature-advice-bottom ul li .left img {
    width: 100%;
}

.feature-advice-bottom ul li .right {
    float: right;
    width: calc(100% - 90px);
    padding-right: 10px;
}

.feature-advice-bottom ul li .right p.tag {
    color: #ffffff;
    margin-bottom: 5px;
    border-bottom: 1px solid #fff;
    font-size: 13px;
}



.feature-advice-bottom ul li .right p.blog-name {
    width: 100%;
    color: #fff;
    font-size: 14px;
}
.owl-dots {
    display: none;
}

.testimonial-bg .owl-carousel .owl-nav button.owl-prev, 
.testimonial-bg .owl-carousel .owl-nav button.owl-next {
    background: #0365b1;
    /* background: linear-gradient(90deg, rgba(255, 127, 80, 1) 21%, rgba(255, 215, 0, 1) 65%, rgba(255, 248, 225, 1) 100%); */
    width: 35px;
    height: 35px;
    font-size: 38px;
    line-height: 30px;
    border-radius: 6px;
    margin-top: 15px;
    color: #fff;
}

.testimonial-bg .owl-carousel .owl-nav button.owl-prev {
    margin-right: 10px;
}
/* Video section */
.sec_three.abt_vdo {
    background-image: url('https://assets.studilmu.com/image/64198636611db.jpg');
    background-attachment: fixed !important;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 25px;
}
 .sec_three.abt_vdo a {
    background: none;
    padding: 0;
}

.sec_three.abt_vdo:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #00000094;
}
.sec_three.abt_vdo .abt_vdo_conty {
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
}

 .sec_three.abt_vdo .abt_vdo_conty a {
    position: relative;
    z-index: 2;
    padding: 0;
    border-radius: 100% !important;
    width: 80px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff;
    border-color: #fff;
    float: none;
    border: 4px double #fc3e46;
    animation: pulse1 2s infinite;
}

 .sec_three.abt_vdo .abt_vdo_conty a i {
    color: #fc3e46;
    font-size: 51px;
    margin-left: 6px;
}

.sec_three.abt_vdo .abt_vdo_conty h2 {
    font-size: 33px;
    font-weight: bold;
    float: left;
    width: 100%;
    color: #ffffff;
}

.sec_three.abt_vdo .abt_vdo_conty p {
    color: #ffffff;
    font-size: 24px;
}

@-webkit-keyframes pulse1 {
    0% {
        -moz-box-shadow: 0 0 0 0 #fdfdfdb6;
        box-shadow: 0 0 0 0 #ffffffb6
    }

    70% {
        -moz-box-shadow: 0 0 0 10px #fdfdfdb6;
        box-shadow: 0 0 0 10px #fdfdfdb6
    }

    100% {
        -moz-box-shadow: 0 0 0 0 #ffffff00;
        box-shadow: 0 0 0 0 #ffffff00
    }
}

@keyframes pulse1 {
    0% {
        -moz-box-shadow: 0 0 0 0 #ffffffb6;
        box-shadow: 0 0 0 0 #ffffffb6
    }

    70% {
        -moz-box-shadow: 0 0 0 10px #ffffff00;
        box-shadow: 0 0 0 10px #ffffff00
    }

    100% {
        -moz-box-shadow: 0 0 0 0 #ffffff00;
        box-shadow: 0 0 0 0 #ffffff00
    }
}


 .sec_three.abt_vdo .abt_vdo_conty a:hover {
    text-decoration: none;
}

 .sec_three.abt_vdo .abt_vdo_conty a:focus,#wrapper .sec_three.abt_vdo .abt_vdo_conty a:active {
    text-decoration: none;
}


footer.footer .footer_box ul.footer_list li a img {
    width: 17px;
    margin-right: 5px;
}